.container-calendar{
    padding: 60px;
}
.container-calendar h2{
    color: #878895;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100%;
}
.container-white{
    background-color: white;
    border-radius: 5px;
    width: 100%;
}
.add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
}
.add-event-btn:hover {
    background-color: transparent;
    color: var(--primary-clr);
}
.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}